{% extends 'base.html' %}
{% load static %}
{% block title %}Deposit Page{% endblock title %}

{% block banner-slider %}
    <div class="page-title">
        <nav class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li class="current">Deposit Page</li>
                    </ol>
                </div>
        </nav>
    </div><!-- End Page Title -->
{% endblock %}

{% block main-content %}
  <div class="container py-4">
    <h2>Deposit Funds</h2>
    <div class="card p-3">
      <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Create Deposit Intent</button>
      </form>
      
    </div>
  </div>
  <p><a href="{% url 'payment:deposit_history' %}">View deposit history</a></p>
{% endblock %}
